/*-----Typography-----*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(243deg, #EDFFFF 0.33%, #FFF 99.79%), #FFF;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

span {
  color: #1EC94E;
}

h2 {
  color: #212121;
  font-family: "Poppins", sans-serif;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 3.5rem;
}

h3 {
  color: #212121;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

p {
  color: #454545;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

small {
  font-size: 1.2rem;
  font-weight: 300;
}

.container {
  width: 124rem;
  margin: 0 auto;
}

section {
  padding: 5rem 0;
}

.button-pair {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 3rem;
}

.button {
  padding: 12px 20px;
  border-radius: 8px;
  color: #212121;
  border: 1.5px solid #212121;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  cursor: pointer;
}

.green-btn {
  background-color: #1EC94E;
  border: 1.5px solid #1EC94E;
}

.owl-theme .owl-dots {
  margin-top: 5rem !important;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: #1EC94E !important;
}

.owl-theme .owl-dots .owl-dot span {
  background: #5D5D5D !important;
}

/*-----Header part-----*/
header nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 11rem;
  width: 100%;
  height: 7rem;
  color: #000;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1200;
  overflow: hidden;
}
header nav .logo {
  width: 78px;
  height: 78px;
}
header nav ul {
  display: flex;
  transition: 0.7s all;
}
header nav ul li {
  margin: 0 1rem;
  text-transform: capitalize;
}
header nav ul a {
  font-size: 1.4rem;
  color: #000;
}

/*-----carousel section-----*/
.container .home {
  width: 100%;
  padding: 56px 100px 40px 100px;
}
.container .home .item {
  width: 124rem;
  height: 50rem;
  border-radius: 1.2rem;
}
.container .home .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.2rem;
  background: lightgray 50%/cover no-repeat;
}

/*-----About school section-----*/
.about-school {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.about-school .left-content p {
  width: 627px;
}
.about-school .right-content {
  width: 507px;
  height: 298px;
  border-radius: 1.2rem;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%), lightgray 50%/cover no-repeat;
}

/*-----notice board section-----*/
.notice-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
.notice-section .left-content {
  flex-basis: 48%;
}
.notice-section .left-content .glance {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.notice-section .left-content .glance .box {
  width: 180px;
  height: 196px;
  border-radius: 16px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #d7ffeb;
}
.notice-section .left-content .glance .box img {
  width: 52px;
  height: 52px;
  margin-bottom: 1rem;
}
.notice-section .left-content .glance .box h2 {
  margin-bottom: 1rem;
}
.notice-section .left-content .glance .box p {
  color: #5d5d5d;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}
.notice-section .left-content .glance .box:nth-child(2) {
  background: #fff9eb;
}
.notice-section .left-content .glance .box:nth-child(3) {
  background: #daebff;
}
.notice-section .left-content .glance .box:nth-child(4) {
  background: #f5f3ff;
}
.notice-section .left-content .glance .box:nth-child(5) {
  background: #fff2f0;
}
.notice-section .left-content .glance .box:nth-child(6) {
  background: #fdf2f8;
}
.notice-section .right-content {
  flex-basis: 48%;
}
.notice-section .right-content .notice-heading {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.notice-section .right-content .notice-heading .button {
  padding: 8px 20px;
  font-size: 16px;
  margin-top: -3rem;
}
.notice-section .right-content .notice-board {
  padding: 1.6rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.08);
}
.notice-section .right-content .notice-board .notice {
  padding: 1rem 0;
  border-bottom: 1px solid #E7E7E7;
}
.notice-section .right-content .notice-board .notice p {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 24px;
}
.notice-section .right-content .notice-board .notice span {
  font-size: 1.6rem;
  font-weight: 400;
}
.notice-section .right-content .notice-board .notice:last-child {
  border-bottom: none;
}/*# sourceMappingURL=style.css.map */