/*-----Typography-----*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap");
@font-face {
  font-family: "SFpro";
  src: url(../fonts/SF-Pro-Display-Regular.ttf) format("truetype"), url(../fonts/SF-Pro-Display-Regular.woff) format("woff"), url(../fonts/SF-Pro-Display-Light.ttf) format("truetype"), url(../fonts/SF-Pro-Display-Light.woff) format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(243deg, #EDFFFF 0.33%, #FFF 99.79%), #FFF;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.7rem;
}

h2 {
  font-size: 5rem;
  font-weight: normal;
  margin-bottom: 2.5rem;
}

h3 {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

h5 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

p {
  font-size: 1.4rem;
  font-weight: 300;
}

small {
  font-size: 1.2rem;
  font-weight: 300;
}

span {
  color: #14B642;
  font-size: inherit;
}

.container {
  width: 124rem;
  margin: 0 auto;
}

section {
  padding: 5rem 0;
}

.button {
  padding: 0.2rem 1.3rem;
  background: transparent;
  border: 1px solid #14B642;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.button span img {
  width: 20px;
  height: 20px;
  margin-left: 1rem;
}

.owl-theme .owl-dots {
  margin-top: 5rem !important;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: #14B642 !important;
}

.owl-theme .owl-dots .owl-dot span {
  background: #fff !important;
  border: 1px solid #14B642 !important;
}

/*-----Header part-----*/
header nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 11rem;
  width: 100%;
  height: 7rem;
  color: #000;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1200;
  overflow: hidden;
}
header nav .logo {
  width: 78px;
  height: 78px;
}
header nav ul {
  display: flex;
  transition: 0.7s all;
}
header nav ul li {
  margin: 0 1rem;
  text-transform: capitalize;
}
header nav ul a {
  font-size: 1.4rem;
  color: #000;
}

/*-----carousel section-----*/
.container .home {
  width: 124rem;
  padding: 56px 100px 40px 100px;
}
.container .home .item img {
  border-radius: 1.2rem;
  width: 124rem;
  height: 45.6rem;
  background: lightgray 50%/cover no-repeat;
}

/* .hero-right{

  width: 37%;

  .notice-box-wrap{
      .notice-box{
          display: flex;
          align-items: center;
          justify-content: space-between;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          padding: 1rem 2rem;
          border-radius: 1rem;
          margin-bottom: 1rem;
      }
      .btn{
          width: 7rem;
          float: right;

      }
  }
} *//*# sourceMappingURL=style.css.map */